.status-404{
    padding: 50px 200px;
    background-color: #2a4f6d;
}
.MuiPaper-elevation{
box-shadow: none !important;
border: none !important;
outline: none !important;
}

.accordian-body{
    color: #666C89;

}
.primary-btn{
    padding: 14px 32px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom ,#1768AC,#06BEE1) !important;
    border: none;
    outline: none;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    font-size: 20px;
    font-weight: 500;
    color: white;
    
}
.btn-2{
    padding: 14px 32px;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    font-size: 20px;
    font-weight: 600;
    color: black;
    background-color: white;
}
a{
    cursor: pointer;
}